<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/style.css">
    <link rel="stylesheet" href="../CSS/font.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Đăng ký</title>
</head>
<body>
    <div class="boxcenter">
        <header>
            <div class="row header">
                <img class="ml" src="../image/logo2.png" alt="" style="margin-bottom: 10px;" width="70px" height="70px">  
                <div class="boxsearch">
                    <input style="font-family: Roboto-ThinItalic;" type="search" placeholder="Tìm kiếm">
                    <button><a href=""><i class="fa-solid fa-magnifying-glass"></i></a></button>
                </div>
                    <ul class="boxr mr">
                        <li><a href="dangky.html">Đăng Ký</a></li>
                        <li><a href="dangnhap.html">Đăng Nhập</a></li>
                        <li><a href="giohang.html"><i class="fa-solid fa-cart-shopping"></i></a></li>
                    </ul>
            </div>
            </header>
            <nav>
                <ul>
                    <li style="background-color: black;"><a class="nav1" href=""><i class="fa-solid fa-bars" style="margin-right: 5px;"></i>Danh Mục Sản Phẩm</a>
                        <!-- menu con sổ xuống cấp 1 -->
                        <ul>
                            <li><a href="#">Cà Phê Hạt</a></li>
                            <li><a href="#">Cà Phê Rang Xay</a></li>
                            <li><a href="#">Cà Phê Hòa Tan</a></li>
                        </ul>
                    </li>
                    <li><a href="home.html">Trang Chủ</a></li>
                    <li><a href="#">Giới thiệu</a></li>
                    <li><a href="sanpham.html">Sản Phẩm</a></li>
                    <li><a href="service.html">Dịch vụ</a>
                    </li>
                    <li><a href="#footer">Liên hệ</a></li>
                </ul>
            </nav>
    <div class="boxconten fromtaikhoan">
        <h1 class="ml80 mt30" style="font-size: 20px; margin-bottom: 40px;">Đăng Ký</h1>
        <form class="fromtaikhoan-ct">
            <div class="row mb30">
                Tên tài khoản<br><br>
                <input type="text" name="user" id="">  
            </div>
            <div class="row mb30">
                Email<br><br>
                <input type="email" name="pass" id=""><br>
            </div>
            <div class="row mb30">
                Mật khẩu<br><br>
                <input type="password" name="user" id="">  
            </div>
            <div class="row mb30">
                Nhập lại mật khẩu<br><br>
                <input type="password" name="pass" id=""><br>
            </div>
            <div class="row mb10" style="margin-bottom: 60px;">
                <input type="submit" name="dangky" value="Đăng ký">
            </div>
        </form>
    </div>
    <footer>
        <div id="footer" class="footer">
            <div class="logo-footer ml40">
                <img src="../image/logo.avif" alt="" width="150px">
            </div>
            <div class="conten-footer">
                <div class="text-menu ml30">
                    <a href=""><h3>Trang Chủ</h3></a>
                    <a href=""><h3>Giới Thiệu</h3></a>
                    <a href=""><h3>Sản Phẩm</h3></a>
                    <a href=""><h3>Liên Hệ</h3></a>
                    <a href=""><h3>Dịch Vụ</h3></a>
                </div>
                <div class="tex-bank">
                    <h3>Thanh toán</h3>
                    <img src="../image/footer1.png" alt="" width="300px">
                    <h3>Theo giỏi chúng tôi trên</h3>
                    <img src="../image/footer2.png" alt="" width="130px">
                </div>
                <div class="tex-dc">
                    <h3>Địa chỉ</h3>
                    <p style="font-family: Roboto-LightItalic;">116 Nguyễn Huy Tưởng</p>
                    <p style="font-family: Roboto-LightItalic;">Email: DUAN1@gmail.com</p>
                </div>
            </div>
        </div>
    </footer>
    </div>
</body>
</html>