<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/style.css">
    <link rel="stylesheet" href="../CSS/font.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Giỏ hàng</title>
</head>
<body>
    <div class="boxcenter">
        <header>
            <div class="row header">
                <img class="ml" src="../image/logo2.png" alt="" style="margin-bottom: 10px;" width="70px" height="70px">  
                <div class="boxsearch">
                    <input style="font-family: Roboto-ThinItalic;" type="search" placeholder="Tìm kiếm">
                    <button><a href=""><i class="fa-solid fa-magnifying-glass"></i></a></button>
                </div>
                    <ul class="boxr mr">
                        <li><a href="dangky.html">Đăng Ký</a></li>
                        <li><a href="dangnhap.html">Đăng Nhập</a></li>
                        <li><a href="giohang.html"><i class="fa-solid fa-cart-shopping"></i></a></li>
                    </ul>
            </div>
            </header>
            <nav>
                <ul>
                    <li style="background-color: black;"><a class="nav1" href=""><i class="fa-solid fa-bars" style="margin-right: 5px;"></i>Danh Mục Sản Phẩm</a>
                        <!-- menu con sổ xuống cấp 1 -->
                        <ul>
                            <li><a href="#">Cà Phê Hạt</a></li>
                            <li><a href="#">Cà Phê Rang Xay</a></li>
                            <li><a href="#">Cà Phê Hòa Tan</a></li>
                        </ul>
                    </li>
                    <li><a href="home.html">Trang Chủ</a></li>
                    <li><a href="#">Giới thiệu</a></li>
                    <li><a href="sanpham.html">Sản Phẩm</a></li>
                    <li><a href="service.html">Dịch vụ</a>
                    </li>
                    <li><a href="#footer">Liên hệ</a></li>
                </ul>
            </nav>
    <div class="boxconten">
        <div class="all-show">
            <div class="show">
                <table>
                    <tr>
                        <th></th>
                        <th>Sản Phẩm</th>
                        <th></th>
                        <th>Giá</th>
                        <th>Số Lượng</th>
                        <th>Tạm tính</th>
                    </tr>
                    <tr>
                        <td>
                            <a href=""><i class="fa-solid fa-trash-can"></i></a>
                        </td>
                        <td>
                            <div class="img-cart">
                            <img src="../image/sp chinh.jpg" alt="">
                            </div>
                        </td>
                        <td>
                            <p style="font-family: Roboto-Regular;">Cà Phê G7 3in1 – Bịch 50 Sachets</p>
                        </td>
                        <td>
                            <p>150.000 VND</p>
                        </td>
                        <td>
                            <div class="soluong">
                                <input type="button" style="width: 30%;text-align: center; font-family: Roboto-Regular; "value="-">
                                <input type="text" style="width: 40%; text-align: center;" name="" id="" value="2">
                                <input type="button" style="width: 30%;text-align: center; font-family: Roboto-Regular; "value="+">
                            </div>
                        </td>
                        <td>
                            <p>150.000 VND</p>
                        </td>
                    </tr>

                </table>
            </div>
            <div class="cart fromcontent ml30">
                <table>
                    <tr>
                        <th>Tổng giỏ hàng</th>
                        <th></th>
                    </tr>
                    <tr >
                        <td>Tạm tính</td>
                        <td>150.000VND</td>
                    </tr>
                    <tr>
                        <td>Giao hàng</td>
                        <td style="font-family: Roboto-LightItalic;">Miễn phí giao hàng</td>
                    </tr>
                    <tr>
                        <td>Tổng</td>
                        <td style="color: red;">150.000VND</td>
                    </tr>
                </table>
                <div class="row mb10 mt30 click-cart">
                    <a href="thanhtoan.html"><input style="width: 90%; margin: 20px 0px;" type="submit" name="ttdh" value="Tiếp tục đặt hàng"></a>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div id="footer" class="footer">
            <div class="logo-footer ml40">
                <img src="../image/logo.avif" alt="" width="150px">
            </div>
            <div class="conten-footer">
                <div class="text-menu ml30">
                    <a href=""><h3>Trang Chủ</h3></a>
                    <a href=""><h3>Giới Thiệu</h3></a>
                    <a href=""><h3>Sản Phẩm</h3></a>
                    <a href=""><h3>Liên Hệ</h3></a>
                    <a href=""><h3>Dịch Vụ</h3></a>
                </div>
                <div class="tex-bank">
                    <h3>Thanh toán</h3>
                    <img src="../image/footer1.png" alt="" width="300px">
                    <h3>Theo giỏi chúng tôi trên</h3>
                    <img src="../image/footer2.png" alt="" width="130px">
                </div>
                <div class="tex-dc">
                    <h3>Địa chỉ</h3>
                    <p style="font-family: Roboto-LightItalic;">116 Nguyễn Huy Tưởng</p>
                    <p style="font-family: Roboto-LightItalic;">Email: DUAN1@gmail.com</p>
                </div>
            </div>
        </div>
    </footer>
    </div>
</body>
</html>