<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/style.css">
    <link rel="stylesheet" href="../CSS/banner.css">
    <link rel="stylesheet" href="CSS/font.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Trang chủ</title>
</head>
<body>
    <div class="boxcenter">
        <header>
        <div class="row header">
            <img  src="../image/logo2.png" alt=""  width="70px" height="70px">  
            <div class="boxsearch">
                <input style="font-family: Roboto-ThinItalic;" type="search" placeholder="Tìm kiếm">
                <button><a href=""><i class="fa-solid fa-magnifying-glass"></i></a></button>
            </div>
                <nav class="menu-con">
                    <ul>
                        <li class="tk_list" style="background-color: black;"><a class="nav1" style="margin-left: 0px;" href="dangnhap.html"><i class="fa-solid fa-user" style="margin-right: 5px; display: inline;"></i>Văn Viên</a>
                            <ul>
                                <li><a href="edit-taikhoan.html">Tài khoản</a></li>
                                <li><a href="thanhtoan.html">Đơn hàng</a></li>
                                <li><a href="#">Thoát</a></li>
                            </ul>
                        </li>

                    </ul>
                </nav>
                <a href="giohang.html"><i class="fa-solid fa-cart-shopping" style="color: black;"></i></a>
        </div>
        </header>
        <nav>
            <ul>
                <li style="background-color: black;"><a class="nav1" href=""><i class="fa-solid fa-bars" style="margin-right: 5px;"></i>Danh Mục Sản Phẩm</a>
                    <!-- menu con sổ xuống cấp 1 -->
                    <ul>
                        <li><a href="sanpham.html">Cà Phê Hạt</a></li>
                        <li><a href="#">Cà Phê Rang Xay</a></li>
                        <li><a href="#">Cà Phê Hòa Tan</a></li>
                    </ul>
                </li>
                <li><a href="home.html">Trang Chủ</a></li>
                <li><a href="#">Giới thiệu</a></li>
                <li><a href="sanpham.html">Sản Phẩm</a></li>
                <li><a href="service.html">Dịch vụ</a></li>
                <li><a href="#footer">Liên hệ</a></li>
            </ul>
        </nav>

        <div class="box-banner">
            <div class="banner">
                <!-- Slideshow container -->
            <div class="slideshow-container">
    
                <!-- Full-width images with number and caption text -->
                    <div class="mySlides fade">
                    <img src="../image/banner1.jpg" style="width:100%">
                <div class="text"></div>
                </div>
    
                <div class="mySlides fade">
                    <img src="../image/banner2.jpg" style="width:100%">
                    <div class="text"></div>
                </div>
    
                <div class="mySlides fade">
                    <img src="../image/banner3.jpg" style="width:100%">
                    <div class="text"></div>
                </div>
                <div class="mySlides fade">
                    <img src="../image/banner4.jpg" style="width:100%">
                    <div class="text"></div>
                </div>
    
                <!-- Next and previous buttons -->
                </div>
    
                <!-- The dots/circles -->
                <div style="text-align:center">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
                <span class="dot" onclick="currentSlide(4)"></span>
                </div>
            </div>
        </div>
        <div class="boxcontent">
            <div class="content">
                  <hr>
                <h2>POINT Coffee</h2>
                <hr>
            </div>
    <div class="content-text">
        <p>
            Một THẾ GIỚI CÀ PHÊ thu nhỏ...
            Một hệ thống F&B(Đồ ăn, thức uống), bán lẻ TOÀN DIỆN , VƯỢT TRỘI . Một môi trường HỢP TÁC tạo nên hệ sinh thái cà phê THỊNH VƯỢNG
            <br><br>
            Nơi KHỞI NGHIỆP CÀ PHÊ và cùng CHUNG TAY tạo giá trị gia tăng về LỢI ÍCH KINH TẾ, song song PHỤNG SỰ XÃ HỘI một cách THIẾT THỰC và BỀN VỮNG 
        </p>
    </div>
    <div class="content-img mb-50">
        <img src="../image/GT.png" alt="anh panner giua trang">
    </div>
    <div class="box-content-img">
        <hr><h2>Sản Phẩm Khuyến Mãi</h2><hr>
        <div class="children-box">
            <div class="box1"><a href="ctsp.html">
             <div class="box-box1">
              <img src="../../upload/sp1.jpg" alt="" width="250px">
             </div>
             <p>Cà Phê G7 3in1 – Hộp 21 Gói</p>
            </a></div>
            <div class="box1"><a href="ctsp.html">
                 <div class="box-box1">
                    <img src="../../upload/sp2.jpg" alt="" width="250px">
             </div>
             <p>Combo 2 Cà phê phin giấy – Americano</p>
            </a></div>
            <div class="box1"><a href="ctsp.html">
                <div class="box-box1">
                    <img src="../../upload/sp3.jpg" alt="" width="250px">
                </div>
                <p>Cà Phê Sáng Tạo 2</p>
            </a></div>
        </div>
    </div>
    
    <div class="box-content-img">
        <hr><h2>Top Sản Phẩm Yêu Thích</h2><hr>
        <div class="children-box mb-50">
            <div class="box1"><a href="ctsp.html">
             <div class="box-box1">
                <img src="../../upload/legend roman.jpg" alt="" width="250px">
             </div>
             <p>Legend Special Edition – Lon 12 Gói</p>
            </a></div>
            <div class="box1"><a href="ctsp.html">
                 <div class="box-box1">
                    <img src="../../upload/cà phê phin giấu.jpg" alt="" width="250px">
             </div>
             <p>Cà Phê Passiona Hòa Tan 4in1</p>
            </a></div>
            <div class="box1"><a href="ctsp.html">
                <div class="box-box1">
                    <img src="../../upload/cà phê viên nén decaffeinato.jpg" alt="" width="250px">
                </div>
                <p>Cà phê Sáng tạo 8 (250gr)</p>
            </a></div>
        </div>
    </div>
    
    
        </div>
        <footer>
            <div id="footer" class="footer">
                <div class="logo-footer ml40">
                    <img src="../image/logo.avif" alt="" width="150px">
                </div>
                <div class="conten-footer">
                    <div class="text-menu ml30">
                        <a href=""><h3>Trang Chủ</h3></a>
                        <a href=""><h3>Giới Thiệu</h3></a>
                        <a href=""><h3>Sản Phẩm</h3></a>
                        <a href=""><h3>Liên Hệ</h3></a>
                        <a href=""><h3>Dịch Vụ</h3></a>
                    </div>
                    <div class="tex-bank">
                        <h3>Thanh toán</h3>
                        <img src="../image/footer1.png" alt="" width="300px">
                        <h3>Theo giỏi chúng tôi trên</h3>
                        <img src="../image/footer2.png" alt="" width="130px">
                    </div>
                    <div class="tex-dc">
                        <h3>Địa chỉ</h3>
                        <p style="font-family: Roboto-LightItalic;">116 Nguyễn Huy Tưởng</p>
                        <p style="font-family: Roboto-LightItalic;">Email: DUAN1@gmail.com</p>
                    </div>
                </div>
            </div>
        </footer>
        </div>
        <script src="../JS/banner.js"></script>
    </body>
    </html>