<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/style.css">
    <link rel="stylesheet" href="../CSS/font.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Thanh toán</title>
</head>
<body>
    <div class="boxcenter">
        <header>
            <div class="row header">
                <img class="ml" src="../image/logo2.png" alt="" style="margin-bottom: 10px;" width="70px" height="70px">  
                <div class="boxsearch">
                    <input style="font-family: Roboto-ThinItalic;" type="search" placeholder="Tìm kiếm">
                    <button><a href=""><i class="fa-solid fa-magnifying-glass"></i></a></button>
                </div>
                    <ul class="boxr mr">
                        <li><a href="dangky.html">Đăng Ký</a></li>
                        <li><a href="dangnhap.html">Đăng Nhập</a></li>
                        <li><a href="giohang.html"><i class="fa-solid fa-cart-shopping"></i></a></li>
                    </ul>
            </div>
            </header>
            <nav>
                <ul>
                    <li style="background-color: black;"><a class="nav1" href=""><i class="fa-solid fa-bars" style="margin-right: 5px;"></i>Danh Mục Sản Phẩm</a>   
                        <!-- menu con sổ xuống cấp 1 -->
                        <ul>
                            <li><a href="#">Cà Phê Hạt</a></li>
                            <li><a href="#">Cà Phê Rang Xay</a></li>
                            <li><a href="#">Cà Phê Hòa Tan</a></li>
                        </ul>
                    </li>
                    <li><a href="home.html">Trang Chủ</a></li>
                    <li><a href="#">Giới thiệu</a></li>
                    <li><a href="sanpham.html">Sản Phẩm</a></li>
                    <li><a href="service.html">Dịch vụ</a>
                    </li>
                    <li><a href="#footer">Liên hệ</a></li>
                </ul>
            </nav>
    <div class="boxconten">
        <div class="all-show">
            <div class="formtk fromtaikhoan">
                <h1 style="font-size: 17px;margin-bottom: 25px;">Thông tin khách hàng</h1>
                <div class="row mb30">
                    Họ và tên<br><br>
                    <input style="width: 95%;" type="text" name="" id="">  
                </div>
                <div class="twoform-all">
                    <div class="twoform mr10">
                        <div class="row mb30">
                            Số điện thoại<br><br>
                            <input type="tel" name="" id=""><br>
                        </div>
                        <div class="row mb30">
                            Địa chỉ<br><br>
                            <input type="text" name="" id=""><br>
                        </div>
                    </div>
                    <div class="twoform">
                        <div class="row mb30">
                            Địa chỉ Email<br><br>
                            <input type="email" name="" id=""><br>
                        </div>
                        <div class="row mb30">
                            Địa chỉ khác<br><br>
                            <input type="text" name="" id=""><br>
                        </div>
                    </div>
                </div>
                <h1 style="font-size: 17px;margin-bottom: 25px;">Thông tin bổ sung</h1>
                <div class="row mb30">
                    Ghi chú<br><br>
                    <input style="padding-bottom: 70px; width: 95%;" type="text" name="" id="">  
                </div>
            </div>
            <div class="bill fromcontent ml30">
                <table>
                    <h2 style="font-size: 17px;">ĐƠN HÀNG CỦA TÔI</h2>
                    <tr>
                        <th>Sản phẩm</th>
                        <th></th>
                        <th>Tạm tính</th>
                    </tr>
                    <tr>
                        <td>
                            <div class="img-cart">
                            <img src="../image/sp chinh.jpg" alt="">
                            </div>
                        </td>
                        <td>
                            <p style="font-family: Roboto-Regular;">Cà Phê G7 3in1 – Bịch 50 Sachets</p>
                        </td>
                        <td>150.000VND</td>
                    </tr>
                    <!-- <tr>
                        <td>
                            <div class="img-cart">
                            <img src="image/sp chinh.jpg" alt="">
                            </div>
                        </td>
                        <td>
                            <p>Cà Phê G7 3in1 – Bịch 50 Sachets</p>
                        </td>
                        <td>150.000VND</td>
                    </tr> -->
                    <tr>
                        <td>Tạm tính</td>
                        <td></td>
                        <td>150.000 VND</td>
                    </tr>
                    <tr>
                        <td>Giao hàng</td>
                        <td></td>
                        <td style="font-family: Roboto-LightItalic;">Miễn phí giao hàng</td>
                    </tr>
                    <tr>
                        <td>Tổng</td>
                        <td></td>
                        <td style="color: red;">150.000VND</td>
                    </tr>
                </table>
                <div class="pttt-all">
                    <div class="pttt row mb10">
                        <input type="radio" name="" id="">Nhận hàng khi thanh toán
                    </div>
                    <div class="pttt row mb10">
                        <input type="radio" name="" id="">Thanh toán qua online
                    </div>
                    <div class="pttt row mb10">
                        <input type="radio" name="" id="">Thanh toán qua Zalo
                    </div>
                    <div style="display: flex; align-items: center;" class="row mt30">
                        <input type="checkbox" name="" id=""> <p style="font-family: Roboto-Regular;">Tôi đồng ý với điều khoản của website</p>
                    </div>
                </div>
                <div class="row mb10 mt30 click-cart">
                    <input style="width: 95%;" type="submit" name="ttdh" value="Đặt hàng">
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div id="footer" class="footer">
            <div class="logo-footer ml40">
                <img src="../image/logo.avif" alt="" width="150px">
            </div>
            <div class="conten-footer">
                <div class="text-menu ml30">
                    <a href=""><h3>Trang Chủ</h3></a>
                    <a href=""><h3>Giới Thiệu</h3></a>
                    <a href=""><h3>Sản Phẩm</h3></a>
                    <a href=""><h3>Liên Hệ</h3></a>
                    <a href=""><h3>Dịch Vụ</h3></a>
                </div>
                <div class="tex-bank">
                    <h3>Thanh toán</h3>
                    <img src="../image/footer1.png" alt="" width="300px">
                    <h3>Theo giỏi chúng tôi trên</h3>
                    <img src="../image/footer2.png" alt="" width="130px">
                </div>
                <div class="tex-dc">
                    <h3>Địa chỉ</h3>
                    <p style="font-family: Roboto-LightItalic;">116 Nguyễn Huy Tưởng</p>
                    <p style="font-family: Roboto-LightItalic;">Email: DUAN1@gmail.com</p>
                </div>
            </div>
        </div>
    </footer>
    </div>
</body>
</html>