@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
.ctsp{
    width: 80%;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}
.product-detail{
    left: 814px;
    top: 220px;
    position: absolute;
    color: black;
    font-size: 20px;
    font-weight: 400;
    width: 35%;
}
.product-detail .soluong{
    width: 20%;
    height: 15%;
    margin: 15px 0;
    display: flex;
  }

.product-detail h2{
    font-size: 25px;
}
.product-detail .btn{
    font-size: 25px;
    background-color: black;
    color: white;
    margin-right: 10px;
}
.product-detail .btn:hover{
    background-color: #302e2e;
}
.product-detail .btn-cart{
    font-size: 25px;
    background-color: #fa0505;
    color: white;
}
.product-detail .btn-cart:hover{
    background-color: #f54949c7
}
.detail{
    margin-bottom: 100px;
}
.detail ul li{
    list-style-type: none;
    font-size: 20px;
}
.relative-product .boxsp{
    margin-bottom: 100px;
}